<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-lg-4">
            <h3>Kontakt</h3>
            <address>DWS Dr. Wilharm Synthesetechnik GmbH<br />
              Trentiner Ring 30<br />
              D-86356 Neusäss</address>
              <p>Telefon +49 (0)821 450 423-0<br />
                 Telefax +49 (0)821 486 25 19<br />
                 E-Mail <a href="mailto:info@dws-synthese.de">info@dws-synthese.de</a></p>
          </div>  
          <div class="col-xs-12 col-sm-4 col-lg-4 center">
            <p>Geschäftsführer: Dr. Thomas Wilharm</p>
              <p>USt-Id-Nr. DE 278 658 481<br />
              Amtsgericht Augsburg<br />
              HRB 26323</p>
              <p><a href="/impressum">Impressum</a></p>
          </div>  
          <div class="col-xs-12 col-sm-4 col-lg-4">
            <h3>Anfahrt</h3>
            <a href="http://goo.gl/maps/zfl5r"><img class="img-responsive" src="{{ page.base_url }}assets/img/map.gif"></a>
            <p><a href="http://goo.gl/maps/zfl5r">Google Maps Link &raquo;</a></p>
          </div>
        </div>
    </div>
</footer>